@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary mt-4 mb-4"> Projeto carros</h1>
    <div class="container-fluid">


        <p>
            <a href="http://localhost:5000/RegistoCarros">
                <img src="imagens/carros.png" class="rounded" />
        </p>
        </a>

    </div>
</div>
